html {
    background-color: black;

}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

#loading {
   /* float: center;*/
    width: 200px;
    height: 200px;
    position: absolute; 
    left: 50%;
    top: 50%;
    background-image: url(https://38.media.tumblr.com/d5a9d8d96d0c813c64c852af2d8f2f15/tumblr_mvhuu47K7m1qfa1jdo1_500.gif);
    background-repeat: no-repeat;
    background-position: center;
     margin: -100px 0 0 -100px; 
    /*margin:0 auto;*/
  /*  display: block;*/

        
}
.leChuckImage{
    background-image: url(http://static.giantbomb.com/uploads/original/0/9327/254035-lechuck.png);
    margin: 1.3em auto;
    text-align: center;
    background-size:cover
    background-repeat: repeat-x;
    
}

h1, h2, h3, h4, h5, h6{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #545454;
    color:yellowgreen;
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8; 
    background-color: black;
}

b, strong {
    font-weight: 600;
}
p {
    color: white;
}

li{
    color: white;
    /*background-color: black;*/
    
}
ul{
   /*color: white;*/
    /*background-color: black;*/
    background-image: url(http://los-memes.com/wp-content/uploads/2015/09/Guybrush-Threepwood.png);
    background-repeat: repeat-y;
}
strong{
    color: darkgoldenrod;
}
div{
    background-color: black;
    border-radius: 25px;
    
}



img {
   
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 10%;
    border-radius: 25px;
    
    
}

#front-img{
    max-width: 95%;
    border-radius: 25px;
}
/*En klass*/
.underlined-text{
    
    text-decoration: underline;
}

.star{
    display:inline-block;
}


#deg{
    
    color: darkgreen;
}

#fyllning{
    
    color: darkgoldenrod;
}



#player{
    background-color: crimson;
}



@media screen and (max-width: 500px){
   #player{
    background-color: blue;
}

.leChuckImage{
    background-image: url(http://los-memes.com/wp-content/uploads/2015/09/Guybrush-Threepwood.png);
    margin: 1.3em auto;
    text-align: center;
    background-size:cover
    
}
li{
    color: white;
    background-color: green;
    
}
}

